
@import 'meyer-reset.css';

* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    border: 4px solid yellow;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

/* Section Border Tracking */

.nav-bar {
    border: 4px solid purple;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;


}
navbar {
    border: 4px solid orange;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    padding-top:10px;
    padding-bottom: 10px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 20px;
}

.welcome-section {
    border: 4px solid blue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.welcome-content {
    border: 4px solid orange;
    width: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-message {
    border: 4px solid red;
    width: 80%;
    font-size: 36px;

}
.project-section {
    border: 4px solid blue;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;;

}
.projects {
    border: 4px solid orange;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}
.project-intro{
    margin-top: 5%;
    border: 4px solid red;
    font-size: 36px;
}
.project-tile {
    border: 4px solid red;
    height: 80%;
    width: 80%;
    margin-bottom: 5%;
}
 .Contact {
    border: 4px solid blue;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-section {
    border: 4px solid orange;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-info {
    border: 4px solid red;
    height: 20%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

footer {
    border: 4px solid blue;
    display: flex;
    justify-content: center;
    width: 100%;
}






/**/

/* 
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(239, 236, 236, 0.6);
    border-bottom: 2px solid black;
    z-index: 1;

}
li {
    display: inline;
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

li a:hover {
    background-color: #6a627b;
}
.welcome-section {
    display: flex;
    height: 80vh;
    width: 100%;
    background-color: #bdacbd;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-image: linear-gradient(to left,
    #3c293c,
    #796479)
}
.welcome-text {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.project-container {
    width: 100%;
    height: 80vh;
    background-color: #6a627b;
    background-image: linear-gradient(to bottom, 
    #95798c,
    #f5f2f4);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-intro {
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-underline-offset: 8px;
    text-underline-position: auto;
    color: white;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
    height: 10%;

}
.project-list {
    width: 80%;
    height: 80%;
    background-color: black;
    align-self: center;

    


}
/*.projects {
    width: 80px;
    height: 80px;
    display: flex;

}
.projects-1 {
    width: 80px;
    height: 80px;
    background-color:blue;
}
.projects-2 {
    width: 80px;
    height: 80px;
    background-color:green;
}
.projects-3 {
    width: 80px;
    height: 80px;
    background-color: orange;
}
.projects-4 {
    width: 80px;
    height: 80px;
    background-color:gray;
}
.projects-5 {
    width: 80px;
    height: 80px;
    background-color:magenta;
}

.projects-6 {
    width: 80px;
    height: 80px;
    background-color:white;
}
*/